/* Loader container */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* Loader */
.loader {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 5px solid rgba(253, 0, 0, 0.87);
  border-left-color: transparent;
  animation: spin 1s linear infinite;
}

/* Loader animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}